{% extends 'pages/base.html' %} 

{%  block title %}'Home Page - Online Store'{% endblock %} 

{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Email: {{ contact_info.email }}</p>
    <p>Address: {{ contact_info.address }}</p>
    <p>Phone: {{ contact_info.phone }}</p>
</body>
</html>
{% endblock %} 